
*{
  margin: 0;
  padding: 0;
}


#top, #center{
  position: absolute;
}

body{
  background-color: #F5F5F5;
}

.top{
  background-color: #800080;
  width: 100%;
  height: 15vh;
  display: block;
}

.center{

  background-color: #FF0000;
  min-height: 85vh;
  width: 60%;
  overflow: auto;
  margin: 0 auto;;
}

.window{
  background-color: #0000FF;
  margin-bottom: 45px;
  height: 35vh;
  width: 70%;
  display: block;
  margin: 40px auto;
}

.yellow{
  background-color: #FFFF00;
  float: left;
  width: 30%;
  height: 20vh;
  margin-top: 20px;
  margin-left: 15px;
}

.green{
  background-color: #008000;
  float: right;
  width: 40%;
  height: 25vh;
  margin-right: 20px;
  margin-top: 20px;
  display: inline-block;
}
