
*{
  margin: 0;
  padding: 0;
}


#top{
  background-color: #800080;
  width:100%;
  height: 100px;
}

#center{
  padding: 20px 0px;
  background-color: #FF0000;
  width: 60%;
  margin: 0 auto;
}

.window{
  display: block;
  background-color: #0000FF;
  height: 250px;
  width: 60%;
  margin: 20px auto;
}

.yellow{
  background-color: #FFFF00;
  width: 100px;
  height: 100px;
  float: left;
  margin: 30px;
}

.green{
  background-color: #008000;
  height: 150px;
  width: 200px;
  float: left;
  margin-top: 30px;
}
